{% extends 'admin/layout.html' %} 
{% load static %}
{% block title %} Overview {% endblock title %}

{% block scripts %}
    <script defer type="module" src={% static 'admin/js/index.js' %}></script>
{% endblock scripts %}

{% block styles %}
    td {
        padding-right: 5vw !important;
    }

    .date {
        width: max-content !important;
        whitespace: no-wrap !important;
    }
{% endblock styles %}

{% block content %}

    <div class="overflow-y-auto h-100">
        <h2 class="text-center mt-5 mt-lg-2">
            {{user.first_name}} {{user.last_name}}
        </h2>
        <p class="text-center">logged in as admin {{user.email}}</p>
    
        <div class="w-75 mx-auto text-center mt-4">
            <div class="w-100 p-3 my-4 d-flex justify-content-center align-items-center bg-info fw-bold">
                <div class="me-2 text-black">
                    <i class="bi bi-info-circle-fill"></i>
                </div>
                <div class="text-white">
                    The data on the table updates every minute
                </div>
            </div>
        </div>
    
        <div class="d-flex justify-content-between w-100 my-4 pt-4">
            <h6 class="mt-auto">All Users</h6>
            <button class="btn px-4 btn-sm btn-outline-primary" onClick="window.location.reload(true);">Refresh</button>
        </div>
    
        <!--Container for input row-->
        <div class="py-3 overflow-auto w-100">
            <table class="table table-striped table-hover">
                <thead>
                  <tr class="text-capitalize">
                    <th>S/N</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                    <th>initial amount</th>
                    <th>last trade update</th>
                    <th>current amount</th>                
                  </tr>
                </thead>
              
                <tbody>
                    
                </tbody>
            </table>
        </div>
        <!--End input row container-->
    
    </div>
{% endblock content %}

<script type="module">
    document.addEventListener("DOMContentLoaded", () => {
        const updateTableData = ()=>{
            fetch(`${window.location.protocol}//${window.location.host}/dashboard/admin/user/all`)
                .then(res => res.json())
                .then(data => {
                    const tbody = document.querySelector('tbody');
                    const htmlRows = data.map((row, index) => {
                        const mainObject = row[0];
                        console.log(mainObject);
                        if (mainObject.hasOwnProperty("current_value")) {
                            console.log(mainObject.user__first_name)
                            return ` 
                        <tr>
                        <td>${index + 1}</td>
                        <td>${mainObject?.user__first_name}</td>
                        <td>${mainObject?.user__last_name}</td>
                        <td>${mainObject?.user__email}</td>
                        <td>${mainObject?.user__initial_deposit}</td>
                        <td class="date">${new Intl.DateTimeFormat('en-US', {
                                month: 'long',
                                day: 'numeric',
                                year: 'numeric',
                                hour: 'numeric',
                                minute: 'numeric',
                                hour12: true
                            }).format(new Date(mainObject?.time))}</td>
                        <td>${mainObject?.current_value}</td>                
                        `
                        } else {
                            return ` 
                        <tr>
                        <td>${index + 1}</td>
                        <td>${mainObject?.first_name}</td>
                        <td>${mainObject?.last_name}</td>
                        <td>${mainObject?.email}</td>
                        <td>${mainObject?.initial_deposit}</td>
                        <td class="date">Not Started</td>
                        <td>${mainObject?.initial_deposit}</td>                
                        `
                        }
                    })
                    tbody.innerHTML = htmlRows.join('')
                })
            .catch(error=>console.log("Error updating table"))
        }
        
        updateTableData();
    
        setInterval(updateTableData, 2000);
    })
< /script>